<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>ANDGEEBEE</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="shortcut icon" href="/images/favicon/favicon.png">
</head>

<body>
    <div id="wrap">
        <div class="menu">
            <div class="menu_container">
                <h1 class="home"><a href="/">HOME</a></h1>
                <ul class="event-promotion">
                    <li><a href=""><span class="event">|이벤트|</span> 신규가입 10,000원 쿠폰 즉시 발급</a></li>
                    <li><a href=""></a></li>
                    <li><a href=""></a></li>
                </ul>